body {
  margin: 0
}

h1 {
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: rgb(241, 63, 239)
}


a {
  background-color: rgb(190, 189, 189);
  text-decoration: none;
  color: black;
  padding: 8px 24px;
}


.header {
  background-color: rgb(190, 189, 189);
}

.main {
  background-color: rgb(124, 18, 211);
}


.error-message {
  color: red;
}

/* i would like a error message class that is more visible and pulsates */

.pulsate {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}


